<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/navbar.ejs") %>

<br>
<div class="container">
    

<hr>
<h1><%= pergunta.titulo %></h1>
<p><%= pergunta.descricao %></p>
<hr>
<form action="/responder" method="post">
<textarea name="corpo" id="corpo" placeholder="Responder"></textarea>
<input type="hidden" name="perguntaId" id="perguntaId" value="<%= pergunta.id %>">
<button type="submit" class="btn btn-primary">Responder</button>
</form>
<hr>
<div class="respostas">
    <h3>Respostas Atuais</h3>
    <% respostas.forEach(resposta =>{ %>
        
      <%= resposta.corpo %>
        
  <% }) %>
</div>
</div>
</body>
<%- include("partials/footer.ejs") %>